# Ignore everything in the data/ folder
data/*
physionet.org/*
pytorch_states_2024-11-30 11:00:09/*
runs_2024-11-30/*
graphs/*

A_expert_edges_exact.pk
A_m2_expert_edges_inter_category.pk
dict_dfs_cat.pk
*.pk

# But include the folder itself and the .gitkeep file
!data/
!data/.gitkeep
!physionet.org/
!physionet.org/.gitkeep
!pytorch_states_2024-11-30 11:00:09/
!pytorch_states_2024-11-30 11:00:09/.gitkeep
!runs_2024-11-30/
!runs_2024-11-30/.gitkeep
!graphs/
!graphs/.gitkeep
### Adapt original .gitignore from source code:


# custom
data/
raw_data/

.idea
miscellaneous
notebook

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# States of models
keras_states/
states/
